<form action="answer" data-turbo="false">
<!-- ici le formulaire pointe vers l'action answer dont l'URL est localhost:3000/answer -->
  <input type="text" name="question">
  <!-- l'attribut name définit le nom de la clée dans params-->
  <input type="submit" value="Ask!">
</form>
